/*FAFC JUMBO STYLES */
.jumbo-main {
    background-image: url(http://3.bp.blogspot.com/-vFldTGYhBvQ/UlP0l1f2BVI/AAAAAAAAXE4/kfFrCoxx1To/s1600/metropolis.jpg);
    height: 500px;
    margin-top: 0px;
}