.locator {
    border: 2px solid orange;
    border-radius: 2px 2px;
    width: 25%;
    /* position: fixed; */
    /* top: 506px; */
    left: 38%;
    border-radius: 20px;
    width: 25%;
    position: relative;
    /* top: 180px; */
    left: 38%;
    margin-top: 13px;
    margin-bottom: 14px;
    background-image: url("../../webapp/public/images/map.png");
}

.locator-icon {
    /*border: 1px solid deeppink;*/
    width: 30px;
    position: relative;
    left: 6%;
    top: -3px;
}

.locator-label{
    /*border: 1px solid yellow;*/
    width: 300px;
    font-weight: bold;
    font-size: 1.7em;
    display: inline;
    position: relative;
    left: 6%;
    top: 1px;
    color: #569136;
}
